body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2;
}

#CurrentDay {
  padding: 0px;
  color: rgb(133, 26, 26);
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


.input {
  width: 700px;
  display: inline-block;
  color:black;
  margin-left: 2%;
  
}

.submit {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  
}


#ClearPlanner {
  text-align: centre;
  margin-left: 80px;
  margin-top: 30px;
}

.hourSection.past {
	background-color: lightgray;
}

.hourSection.present {
	background-color: dodgerblue;
}

.hourSection.future {
	background-color: lightgreen;
}
  




