body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 2;
}

#CurrentDay {
  padding: 0px;
  background: #251abc;
  color: white 
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


.input {
  width: 800px;
  display: inline-block;
  color: #666;
  text-align: center;*/
  /*display: flex;
  flex-direction: row;
	align-items: center;
	/*height: 40px;
	margin-bottom: 3px;
	border: solid thin black;*/
}

.submit {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  
}


#ClearPlanner {
  text-align: centre;
  margin-left: 80px;
  margin-top: 30px;
}
  




/*.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}*/



/*.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}*/


/*ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header 
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list 
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header 
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button 
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) 
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  
}

/* Days (1-31) 
.hours {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}*/

/*.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}


